
.vs/QLCongTy/FileContentIndex/2fd2153d-29c2-491d-a277-25179dd30663.vsidx
.vs/QLCongTy/FileContentIndex/read.lock
.vs/QLCongTy/v17/.suo
App.config
bin/Debug/QLCongTy.exe
bin/Debug/QLCongTy.exe.config
bin/Debug/QLCongTy.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/QLCongTy.csproj.AssemblyReference.cache
obj/Debug/QLCongTy.csproj.CoreCompileInputs.cache
obj/Debug/QLCongTy.csproj.FileListAbsolute.txt
obj/Debug/QLCongTy.csproj.GenerateResource.cache
obj/Debug/QLCongTy.csproj.SuggestedBindingRedirects.cache
obj/Debug/QLCongTy.exe
obj/Debug/QLCongTy.FChucVu.resources
obj/Debug/QLCongTy.fMainMenu.resources
obj/Debug/QLCongTy.FNhanSu.resources
obj/Debug/QLCongTy.fQLDAThamGia.resources
obj/Debug/QLCongTy.fQLNhanVienPB.resources
obj/Debug/QLCongTy.fQLPhongBan.resources
obj/Debug/QLCongTy.fTimKiemPB.resources
obj/Debug/QLCongTy.pdb
obj/Debug/QLCongTy.Properties.Resources.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/test.frmluongthuong.resources
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Release/QLCongTy.csproj.AssemblyReference.cache
Program.cs
.vs/QLCongTy/FileContentIndex/cfb07cc4-2d60-46ad-9c30-09b6b603e1da.vsidx
.vs/QLCongTy/FileContentIndex/d5ce75dd-1674-4c67-897c-b9c7e32093b2.vsidx
